/**
 * Rounded Fader lib
 *
 * @copyright Serge Pustovit (PSNet), 2008 - 2015
 * @author    Serge Pustovit (PSNet) <light.feel@gmail.com>
 *
 * @link      http://psnet.lookformp3.net
 */

.rounded-fader {
	border-radius: 50%;
	background: rgba(32, 124, 202, 0.2);
	border: 1px solid rgba(51, 51, 51, 0.8);
	height: 90px;
	width: 90px;
}

.rounded-fader .internal-volume {
	border-radius: 50%;
	box-shadow: 0 0 10px #207CCA, 0 0 10px #207CCA, 0 0 10px #207CCA;
	background: #55AABB;
	background: linear-gradient(to bottom,  #88ccee 0%,#55aabb 100%);
	height: 80%;
	margin: 10%;
	width: 80%;
}

.rounded-fader .internal-volume.active {
	background: #49A;
	background: linear-gradient(to bottom,  #77bbdd 0%,#4499aa 100%);
}

.rounded-fader .internal-volume .volume-container {
	transform: rotate(0deg);
	height: 100%;
	width: 100%;
}

.rounded-fader .internal-volume .volume-container .volume-line {
	border: 2px solid #338899;
	height: 0;
	left: 9%;
	position: relative;
	top: 48%;
	width: 14%;
}
